*{
    box-sizing: border-box;
    background-color: black;
    padding: 0;
    margin: 0;
}
.header .logo{
    padding: 0;
    background-color: white;
    height: 120px;
    display: flex;
    justify-content: center;
}
.header img{
    background-color: transparent;
}
.back{
    display: grid;
    justify-content: right;
    padding: 10px;
}
.back button{
    color: black;
    background-color: white;
    font-family: poppins;
    font-weight: 900;
    height: 40px;
    width: 80px;
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 50px;
}
.back a{
    text-decoration: none;
    background-color: transparent;
    color: black;
    font-weight: 900;
}
.main{
    display: flex;
    margin-top: 60px;
}
.main img{
    width: 30%;
    border-radius:30% 70% 54% 46% / 30% 30% 70% 70%  ;
    justify-content: center;
    margin-left: 15%;
}
.title1{
    padding-left: 17%;
    padding-top: 3.5%;
    font-family: poppins;
    color: white;

}
.title1 h1{
    color: white;
    font-family: poppins;
    font-weight: 800;
    font-size: 40px;
}
.size {
    font-size: 20px;
}
.choose{
    color: white;
    font-size: 20px;
}
.main span{
    font-size: 20px;   
}
.main p{
    font-size: 30px;
    font-weight: 900;
}
.title1 button{
    background-color: white;
    height: 50px;
    width: 100px;
    border-radius: 30px;
}
.title1 a{
    text-decoration: none;
    background-color: transparent;
    font-family: poppins;
    font-size: medium;
    font-weight: 900;
    color: black;
}
.title1 button:hover{
    transition: ease-in-out 0.2s;
    height: 60px;
    width: 120px;
    background-color: black;
    color: white;
    border-radius: 40px;
    border-color: white;
}
.title1 a:hover{
    color: white;
}
.dis p {
    margin-top: 5%;
    font-size: 20px;
}
.about{
    color: white;
    font-family: poppins;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-top: 10%;
    font-size: 16px;
}
.dead-line{
    margin-top: 10%;
    height: 10px;
    width: 100%;
    background-color: white;
}
.final{
    display: block;
    font-family: poppins;
    color: white;
}
.final img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8%;

}
.final p{
    margin-left: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: x-large;
}
.footer{
    font-family: poppins;
    font-size: 600;
    color: white;
    list-style: none;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.footmenu a{
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    color: white;
    padding-left: 10px;
    
}
.title a , li{
    font-weight: 100;
    font-size: 15px;
    margin-top: 10px;
}
.title a , li:hover{
    transition: 0.2s;
    margin-left: 10px;
}
.location {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    padding-top: 70px;
}
.location a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width : 620px){
    .footer{
        font-family: poppins;
        font-size: 600;
        color: white;
        list-style: none;
        display: block;
        justify-content: center;
    }
    .location {
        text-decoration: none;
        color: white;
        margin-left: 10px;
        margin-top: -10px;
    }
    .back button{
        display: none;
    }
    .header .logo{
        padding: 0;
        background-color: white;
        height: 100px;
        display: flex;
        justify-content: center;
    }
    .back{
        display: none;
    }
    .main{
        display: block;
        margin-top: 60px;
    }
    .main img{
        width: 80%;
        border-radius:30% 70% 54% 46% / 30% 30% 70% 70%  ;
    }
    .title1{
        padding-top: 3.5%;
        font-family: poppins;
        color: white;
        padding-left: 3%;
    }
    .title1 h1{
        color: white;
        font-family: poppins;
        font-weight: 800;
        font-size: 30px;
        margin-top: 30px;
    }
    .title1 button{
        margin-top: 20px;
        background-color: white;
        height: 50px;
        width: 100px;
        border-radius: 30px;
    }
    .about{
        color: white;
        font-family: poppins;
        margin-left: auto;
        margin-right: auto;
        padding-left: 3%;
        padding-top: 10%;
        font-size: 16px;
    }
}
